/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/*
!/vendor/sensio/

/vendor/sensio/*
!/vendor/sensio/generator-bundle/

/vendor/sensio/generator-bundle/*
!/vendor/sensio/generator-bundle/Sensio/

/vendor/sensio/generator-bundle/Sensio/*
!/vendor/sensio/generator-bundle/Sensio/Bundle/

/vendor/sensio/generator-bundle/Sensio/Bundle/*
!/vendor/sensio/generator-bundle/Sensio/Bundle/GeneratorBundle/


/app/config/parameters.ini
